# Calculations for the Frontiers 2021 paper

(computed post-acceptance)

In [1]:
import math
import pandas as pd
import re

## 1. Recompute Table 1 percentages

In [2]:
table_dict = {         "males": { 1: 209, 2: 133 },
                     "females": { 1: 215, 2: 213 },
                       "dutch": { 1:  22, 2:  27 },
                 "no answer 1": { 1: 402, 2: 319 },
                     "primary": { 1:   5, 2:   4 },
                       "lower": { 1:   0, 2:   0 },
                      "school": { 1:  56, 2:  33 },
                "intermediate": { 1: 103, 2:  68 },
                      "higher": { 1: 137, 2: 124 },
                  "university": { 1:  40, 2:  58 },
                 "no answer 2": { 1:  11, 2:  19 },
                         "yes": { 1:  25, 2:  27 },
                          "no": { 1: 308, 2: 240 },
                 "no answer 3": { 1:  91, 2:  79 },
                     "i think": { 1: 334, 2: 264 },
                      "i want": { 1:  14, 2:  10 },
                   "something": { 1:  36, 2:  31 },
                "others think": { 1:  14, 2:   6 },
               "other reasons": { 1:  24, 2:  29 },
                 "no answer 4": { 1:   2, 2:   6 },
                       "never": { 1: 164, 2: 187 },
                "now and then": { 1:  36, 2:  24 },
                       "daily": { 1: 224, 2: 135 },
             }

In [3]:
def pretty_print(results):
    results_list = []
    for key in results:
        if results[key][1] + results[key][2] == 0:
            print(f"pretty_print: skipping unused key value: {key}")
            continue
        percentage = round(100 * results[key][1] / (results[key][1] + results[key][2]), 1)
        results_list.append({"key": key, 
                             "dropout:N": results[key][1],
                             "dropout:%": percentage,
                             "completer:N": results[key][2],
                             "completer:%": 100 - percentage,
                            })
    return pd.DataFrame(results_list)

In [4]:
pretty_print(table_dict)

pretty_print: skipping unused key value: lower

              key  dropout:N  dropout:%  completer:N  completer:%
0           males        209       61.1          133         38.9
1         females        215       50.2          213         49.8
2           dutch         22       44.9           27         55.1
3     no answer 1        402       55.8          319         44.2
4         primary          5       55.6            4         44.4
5          school         56       62.9           33         37.1
6    intermediate        103       60.2           68         39.8
7          higher        137       52.5          124         47.5
8      university         40       40.8           58         59.2
9     no answer 2         11       36.7           19         63.3
10            yes         25       48.1           27         51.9
11             no        308       56.2          240         43.8
12    no answer 3         91       53.5           79         46.5
13        i think        334       55.9          264         44.1
14         i want         14       58.3           10         41.7
15      something         36       53.7           31         46.3
16   others think         14       70.0            6         30.0
17  other reasons         24       45.3           29         54.7
18    no answer 4          2       25.0            6         75.0
19          never        164       46.7          187         53.3
20   now and then         36       60.0           24         40.0
21          daily        224       62.4          135         37.6

## 2. Read data

There are 791 records in the file. 21 need to be removed because of missing information. The fuction `count_missing` identifies these.

In [5]:
DATAFILE = "/home/erikt/projects/e-mental-health/usb/releases/20200320/liwc+intake123+dropout.csv"

In [6]:
data = pd.read_csv(DATAFILE)

In [7]:
def count_missing(data):
    missings = []
    for idx, row in data.iterrows():
        missing = 0
        if pd.isna(row["1-geslacht"]) and pd.isna(row["1-geslacht0"]) and pd.isna(row["1-geslachtt0"]):
            missing += 1
        if pd.isna(row["3-national0"]) or row["3-national0"] == "EMPTY":
            missing += 1
        if pd.isna(row["4-opleidng"]) and (pd.isna(row["8-opleidng0"]) or row["8-opleidng0"] == "EMPTY") and pd.isna(row["4-opleidngt0"]):
            missing += 1
        if pd.isna(row["19-behdrink"]) and pd.isna(row["25-behdrinkt0"]):
            missing += 1
        if pd.isna(row["7-aanleid"]) and pd.isna(row["12-aanleid0"]) and pd.isna(row["7-aanleidt0"]):
            missing += 1
        if pd.isna(row["13-roken"]) and pd.isna(row["13-rokent0"]):
            missing += 1
        missings.append(missing)
    return missings

In [8]:
def count_values(missings):
    return pd.DataFrame([{"count": x} for x in missings])["count"].value_counts()

In [9]:
missings = count_missing(data)

In [10]:
count_values(missings)

1    721
2     49
4     21
Name: count, dtype: int64

## 3. Count gender

In [11]:
def count_gender(data, missings):
    genders = { "man": {1: 0, 2: 0}, "vrouw": {1: 0, 2: 0} }
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            gender = math.nan
            if not pd.isna(row["1-geslacht"]):
                gender = row["1-geslacht"]
            if not pd.isna(row["1-geslacht0"]):
                if not pd.isna(gender):
                    print("cannot happen: duplicate gender value")
                gender = row["1-geslacht0"]
            if not pd.isna(row["1-geslachtt0"]):
                if not pd.isna(gender):
                    print("cannot happen: duplicate gender value")
                gender = row["1-geslachtt0"]
            if pd.isna(gender):
                print("cannot happen: missing gender value")
            genders[gender][row["dropout"]] += 1
    return genders

In [12]:
pretty_print(count_gender(data, missings))

     key  dropout:N  dropout:%  completer:N  completer:%
0    man        209       61.1          133         38.9
1  vrouw        215       50.2          213         49.8

## 4. Count nationalities

Value NaN stands for "Not a Number" and signals missing data

In [13]:
def count_nationalities(data, missings):
    nationalities = { "nederlands": {1: 0, 2: 0}, "EMPTY": {1: 0, 2: 0}, math.nan: {1: 0, 2: 0}}
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            nationality = math.nan
            if not pd.isna(row["3-national0"]):
                nationality = row["3-national0"]
            nationalities[nationality][row["dropout"]] += 1
    return nationalities

In [14]:
pretty_print(count_nationalities(data, missings))

pretty_print: skipping unused key value: EMPTY

          key  dropout:N  dropout:%  completer:N  completer:%
0  nederlands         22       44.9           27         55.1
1         NaN        402       55.8          319         44.2

## 5. Count educations

Key value "MULTIWORD" represents a phrase removed by the anonymization process. It is unknown why some key fields have been filled with numbers (in this case: 3)

In [15]:
def count_educations(data, missings):
    educations = { "hbo": {1: 0, 2: 0}, "mbo": {1: 0, 2: 0}, "wo": {1: 0, 2: 0}, "lbo/mavo": {1: 0, 2: 0}, "havo/vwo": {1: 0, 2: 0}, 
                  "MULTIWORD": {1: 0, 2: 0}, "lbo/mavo/vmbo": {1: 0, 2: 0}, "basisschool": {1: 0, 2: 0}, "EMPTY": {1: 0, 2: 0}, "3": {1: 0, 2: 0}, }
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            education = math.nan
            if not pd.isna(row["4-opleidng"]):
                education = row["4-opleidng"]
            if not pd.isna(row["8-opleidng0"]):
                if not pd.isna(education):
                    print(f"cannot happen: duplicate education value: {education} and {row['8-opleidng0']}")
                education = row["8-opleidng0"]
            if not pd.isna(row["4-opleidngt0"]):
                if not pd.isna(education):
                    print(f"cannot happen: duplicate education value: {education} and {row['4-opleidngt0']}")
                education = row["4-opleidngt0"]
            if pd.isna(education):
                print("cannot happen: missing education value")
            educations[education][row["dropout"]] += 1
    return educations

In [16]:
pretty_print(count_educations(data, missings))

pretty_print: skipping unused key value: EMPTY

             key  dropout:N  dropout:%  completer:N  completer:%
0            hbo        137       52.5          124         47.5
1            mbo        103       60.2           68         39.8
2             wo         40       40.8           58         59.2
3       lbo/mavo         65       65.0           35         35.0
4       havo/vwo         56       62.9           33         37.1
5      MULTIWORD         14       42.4           19         57.6
6  lbo/mavo/vmbo          4       50.0            4         50.0
7    basisschool          5       55.6            4         44.4
8              3          0        0.0            1        100.0

## 6. Count previous treatments

In [17]:
def count_treatments(data, missings):
    treatments = { "nee": {1: 0, 2: 0}, "ja": {1: 0, 2: 0}, "EMPTY": {1: 0, 2: 0}, math.nan: {1: 0, 2: 0},
                   "ja ik heb deze internetbehandeling al eens gevolgd.": {1: 0, 2: 0}, "MULTIWORD": {1: 0, 2: 0}, }
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            treatment = math.nan
            if not pd.isna(row["19-behdrink"]):
                treatment = row["19-behdrink"]
            if not pd.isna(row["25-behdrinkt0"]):
                if not pd.isna(treatment):
                    print(f"cannot happen: duplicate treatment value: {reason} and {row['25-behdrinkt0']}")
                treatment = row["25-behdrinkt0"]
            if not pd.isna(row["26-behversl0"]):
                if not pd.isna(treatment):
                    print(f"cannot happen: duplicate treatment value: {reason} and {row['25-behversl0']}")
                treatment = row["26-behversl0"]

            treatments[treatment][row["dropout"]] += 1
    return treatments

In [18]:
pretty_print(count_treatments(data, missings))

pretty_print: skipping unused key value: nan

,key,dropout:N,dropout:%,completer:N,completer:%
0,nee,308,56.2,240,43.8
1,ja,12,50.0,12,50.0
2,EMPTY,91,53.5,79,46.5
3,ja ik heb deze internetbehandeling al eens gev...,13,50.0,13,50.0
4,MULTIWORD,0,0.0,2,100.0

## 7. Count reasons for treatment

In [19]:
def count_reasons(data, missings):
    reasons = { "ik vind zelf dat ik teveel drink": {1: 0, 2: 0}, 
                "anderen vinden dat ik teveel drink": {1: 0, 2: 0},
                "ik wil advies over mijn alcoholgebruik": {1: 0, 2: 0},
                "er is iets vervelends gebeurd en daarom wil ik iets aan mijn drinken doen": {1: 0, 2: 0},
                "1": {1: 0, 2: 0}, 
                "2": {1: 0, 2: 0}, 
                "3": {1: 0, 2: 0}, 
                "4": {1: 0, 2: 0}, 
                "MULTIWORD": {1: 0, 2: 0}, 
                "EMPTY": {1: 0, 2: 0}, }
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            reason = math.nan
            if not pd.isna(row["7-aanleid"]):
                reason = row["7-aanleid"]
            if not pd.isna(row["12-aanleid0"]):
                if not pd.isna(reason):
                    print(f"cannot happen: duplicate education value: {reason} and {row['12-aanleid0']}")
                reason = row["12-aanleid0"]
            if not pd.isna(row["7-aanleidt0"]):
                if not pd.isna(reason):
                    print(f"cannot happen: duplicate education value: {reason} and {row['7-aanleidt0']}")
                reason = row["7-aanleidt0"]
            if pd.isna(reason):
                print("cannot happen: missing reason value")
            reasons[reason][row["dropout"]] += 1
    return reasons

In [20]:
pretty_print(count_reasons(data, missings))

,key,dropout:N,dropout:%,completer:N,completer:%
0,ik vind zelf dat ik teveel drink,334,55.9,264,44.1
1,anderen vinden dat ik teveel drink,14,70.0,6,30.0
2,ik wil advies over mijn alcoholgebruik,14,58.3,10,41.7
3,er is iets vervelends gebeurd en daarom wil ik...,36,53.7,31,46.3
4,1,1,100.0,0,0.0
5,2,2,40.0,3,60.0
6,3,1,100.0,0,0.0
7,4,1,50.0,1,50.0
8,MULTIWORD,19,43.2,25,56.8
9,EMPTY,2,25.0,6,75.0

## 8. Count smoking behaviour

In [21]:
def count_smokers(data, missings):
    smokers = { "ja af en toe": {1: 0, 2: 0}, "ja dagelijks": {1: 0, 2: 0}, "nee helemaal niet": {1: 0, 2: 0}, 
                math.nan: {1: 0, 2: 0}, "MULTIWORD": {1: 0, 2: 0}, "ja": {1: 0, 2: 0}, "nee": {1: 0, 2: 0}, }
    for idx, row in data.iterrows():
        if missings[idx] < 3:
            smoker = math.nan
            if not pd.isna(row["13-roken"]):
                smoker = row["13-roken"]
            if not pd.isna(row["19-tabak0"]):
                if not pd.isna(smoker):
                    print("cannot happen: duplicate smoker value")
                smoker = row["19-tabak0"]
            if not pd.isna(row["13-rokent0"]):
                if not pd.isna(smoker):
                    print("cannot happen: duplicate smoker value")
                smoker = row["13-rokent0"]
            smokers[smoker][row["dropout"]] += 1
    return smokers

In [22]:
pretty_print(count_smokers(data, missings))

pretty_print: skipping unused key value: nan

                 key  dropout:N  dropout:%  completer:N  completer:%
0       ja af en toe         31       60.8           20         39.2
1       ja dagelijks        210       62.3          127         37.7
2  nee helemaal niet        159       48.3          170         51.7
3          MULTIWORD          2       50.0            2         50.0
4                 ja         21       46.7           24         53.3
5                nee          1       25.0            3         75.0

## 9. Inspecting metadata field names

In [23]:
def find_columns(data, column_name):
    for column in data.columns:
        if re.search(column_name, column, flags=re.IGNORECASE):
            print(column)

In [24]:
find_columns(data, "tab")

19-tabak0
19-tabakjr0
20-tabak300
20-tabakdg0
20-tabakhv0
21-tabak0h

In [25]:
data["19-tabak0"].value_counts()

ja       45
EMPTY    21
nee       4
Name: 19-tabak0, dtype: int64

In [26]:
for column in data.columns:
    print(column)

file
nbr of mails
Number of matches
number count
1 function
2 pronoun
3 ppron
4 i
5 we
6 you
7 shehe
8 they
9 ipron
10 article
11 prep
12 auxverb
13 adverb
14 conj
15 negate
20 verb
21 adj
22 compare
23 interrog
24 number
25 quant
30 affect
31 posemo
32 negemo
33 anx
34 anger
35 sad
40 social
41 family
42 friend
43 female
44 male
50 cogproc
51 insight
52 cause
53 discrep
54 tentat
55 certain
56 differ
60 percept
61 see
62 hear
63 feel
70 bio
71 body
72 health
73 sexual
74 ingest
80 drives
81 affiliation
82 achieve
83 power
84 reward
85 risk
90 focuspast
91 focuspresent
92 focusfuture
100 relativ
101 motion
102 space
103 time
110 work
111 leisure
112 home
113 money
114 relig
115 death
120 informal
121 swear
122 netspeak
123 assent
124 nonflu
125 filler
counselor
dropout
0-title
1-geslacht
1-geslacht0
1-geslachtt0
10-dag1
10-dag1t0
10-dag2
10-dag2t0
10-dag3
10-dag3t0
10-dag4
10-dag4t0
10-dag5
10-dag5t0
10-dag6
10-dag6t0
10-dag7
10-dag7t0
10-dagb0
10-typisch
10-typischt0
10-week
10-weekt0
11-dagritme0
11-terugbl
11-terugblt0
12-aanleid0
12-medi0
12-medi0t0
12-medi1
12-medi1t0
12-medi2
12-medi2t0
12-medi3
12-medi3t0
12-medi4
12-medi4t0
12-medi5
12-medi5t0
12-medicijn
12-medicijnt0
12-medidos0
12-medidos0t0
12-medidos1
12-medidos1t0
12-medidos2
12-medidos2t0
12-medidos3
12-medidos3t0
12-medidos4
12-medidos4t0
12-medidos5
12-medidos5t0
12-mediln0
12-mediln0t0
12-mediln1
12-mediln1t0
12-mediln2
12-mediln2t0
12-mediln3
12-mediln3t0
12-mediln4
12-mediln4t0
12-mediln5
12-mediln5t0
12-medivr0
12-medivr0t0
12-medivr1
12-medivr1t0
12-medivr2
12-medivr2t0
12-medivr3
12-medivr3t0
12-medivr4
12-medivr4t0
12-medivr5
12-medivr5t0
12-verhaal0
13-hoeinfo0
13-rodag
13-rodagt0
13-roken
13-rokent0
13-romaand
13-romaandt0
13-rovroe
13-rovroet0
14-drugs
14-drugs0
14-drugs0t0
14-drugs1
14-drugs1t0
14-drugs2
14-drugs2t0
14-drugs3
14-drugs3t0
14-drugs4
14-drugs4t0
14-drugs5
14-drugs5t0
14-drugsln0
14-drugsln0t0
14-drugsln1
14-drugsln1t0
14-drugsln2
14-drugsln2t0
14-drugsln3
14-drugsln3t0
14-drugsln4
14-drugsln4t0
14-drugsln5
14-drugsln5t0
14-drugst0
14-drugsvk0
14-drugsvk0t0
14-drugsvk1
14-drugsvk2
14-drugsvk3
14-drugsvk4
14-drugsvk5
15-dag10
15-dag20
15-dag30
15-dag40
15-dag50
15-dag60
15-dag70
15-gokken
15-gokkent0
15-problgok
15-problgokt0
15-week0
16-eetdrang
16-eetdrangt0
16-gebleven0
16-gewgebdg0
16-gewgebhv0
16-hoggebdg0
16-hoggebhv0
17-depres
17-diarree
17-epilep
17-geheug
17-ghqa1t0
17-ghqa2t0
17-ghqa3t0
17-ghqa4t0
17-ghqa5t0
17-ghqa6t0
17-ghqa7t0
17-ghqb1t0
17-ghqb2t0
17-ghqb3t0
17-ghqb4t0
17-ghqb5t0
17-ghqb6t0
17-hartklp
17-hoofdp
17-hyper
17-maag
17-moe
17-probleem0
17-seksuel
17-transpi
17-trillen
18-maaltd
18-verlang10
18-verlang20
18-verlang30
18-verlang40
18-verlang50
18-verlangtot0
19-behdrink
19-canna0
19-cannajr0
19-coca0
19-cocajr0
19-deprest0
19-diarreet0
19-drugs0
19-drugsjr0
19-epilept0
19-geheugt0
19-ghb0
19-ghbjr0
19-goTo3
19-gok0
19-gokjr0
19-hartklpt0
19-hoofdpt0
19-hypert0
19-map10t0
19-map1t0
19-map2t0
19-map3t0
19-map4t0
19-map5t0
19-map6t0
19-map7t0
19-map8t0
19-map9t0
19-maptotaalt0
19-opiat0
19-opiatjr0
19-seksuelt0
19-slaap0
19-slaapjr0
19-speed0
19-speedjr0
19-tabak0
19-tabakjr0
19-transpit0
19-xtc0
19-xtcjr0
2-leeftijd
2-leeftijd0
2-leeftijdt0
2-medi0
2-medi00
2-medi10
2-medi20
2-medi30
2-medi40
2-medi50
2-medicijnr0
2-medidos00
2-medidos10
2-medidos20
2-medidos30
2-medidos40
2-medidos50
2-mediln00
2-mediln10
2-mediln20
2-mediln30
2-mediln40
2-mediln50
2-medivr00
2-medivr10
2-medivr20
2-medivr30
2-medivr40
2-medivr50
20-canna300
20-cannadg0
20-cannahv0
20-coca300
20-cocadg0
20-cocahv0
20-drugs300
20-drugsdg0
20-drugshv0
20-eq1t0
20-eq2t0
20-eq3t0
20-eq4t0
20-eq5t0
20-eq6t0
20-ghb300
20-ghbdg0
20-ghbhv0
20-gok300
20-gokdg0
20-gokhv0
20-insult
20-opiat300
20-opiatdg0
20-opiathv0
20-slaap300
20-slaapdg0
20-slaaphv0
20-speed300
20-speeddg0
20-speedhv0
20-tabak300
20-tabakdg0
20-tabakhv0
20-xtc300
20-xtcdg0
20-xtchv0
21-canna0h
21-coca0h
21-delirium
21-drugs0h
21-eetdrang0
21-eqtht0
21-ghb0h
21-gok0h
21-opiat0h
21-slaap0h
21-speed0h
21-tabak0h
21-xtc0h
22-dass10t0
22-dass11t0
22-dass12t0
22-dass13t0
22-dass1t0
22-dass2t0
22-dass3t0
22-dass4t0
22-dass5t0
22-dass6t0
22-dass7t0
22-dass8t0
22-dass9t0
22-medi0
22-medi00
22-medi10
22-medi20
22-medi30
22-medi40
22-medi50
22-medicijnr0
22-medidos00
22-medidos10
22-medidos20
22-medidos30
22-medidos40
22-medidos50
22-mediln00
22-mediln10
22-mediln20
22-mediln30
22-mediln40
22-mediln50
22-medivr00
22-medivr10
22-medivr20
22-medivr30
22-medivr40
22-medivr50
22-ontwen
23-diarree0
23-doofgev0
23-eetlust0
23-epilep0
23-geheug0
23-goTo2
23-hartklp0
23-hoofdp0
23-hyper0
23-klachttot0
23-kortad0
23-ltgeslacht1
23-maag0
23-maphss0
23-missel0
23-moe0
23-pijnbor0
23-pijngewr0
23-psych
23-psytijd0
23-psytijd1
23-psytijd2
23-psytijd3
23-psytijd4
23-psytijd5
23-psyvoor0
23-psyvoor1
23-psyvoor2
23-psyvoor3
23-psyvoor4
23-psyvoor5
23-psywaar0
23-psywaar1
23-psywaar2
23-psywaar3
23-psywaar4
23-psywaar5
23-seksuel0
23-spierp0
23-transpi0
23-trillen0
24-maaltdt0
24-mindpres
24-telaat
24-ziekmeld
24-zwanger0
25-behdrinkt0
25-maaltd0
25-rcq1
25-rcq10
25-rcq11
25-rcq12
25-rcq2
25-rcq3
25-rcq4
25-rcq5
25-rcq6
25-rcq7
25-rcq8
25-rcq9
25-rcqact
25-rcqcon
25-rcqpre
26-behamb0
26-behkli0
26-behtoel0
26-behversl0
26-bereik
26-insultt0
27-deliriumt0
27-insult0
27-toelich
28-delirium0
28-ontwent0
29-ontwen0
29-psycht0
29-psytijd0t0
29-psytijd1t0
29-psytijd2t0
29-psytijd3t0
29-psytijd4t0
29-psytijd5t0
29-psyvoor0t0
29-psyvoor1t0
29-psyvoor2t0
29-psyvoor3t0
29-psyvoor4t0
29-psyvoor5t0
29-psywaar0t0
29-psywaar1t0
29-psywaar2t0
29-psywaar3t0
29-psywaar4t0
29-psywaar5t0
3-national0
3-woonsit
3-woonsitt0
30-mindprest0
30-psych0
30-psychr0
30-psytijd00
30-psytijd10
30-psytijd20
30-psytijd30
30-psytijd40
30-psytijd50
30-psyvoor00
30-psyvoor10
30-psyvoor20
30-psyvoor30
30-psyvoor40
30-psyvoor50
30-psywaar00
30-psywaar10
30-psywaar20
30-psywaar30
30-psywaar40
30-psywaar50
30-telaatt0
30-ziekmeldt0
31-angst0
31-dass10
31-dass100
31-dass110
31-dass120
31-dass130
31-dass140
31-dass150
31-dass160
31-dass170
31-dass180
31-dass190
31-dass20
31-dass200
31-dass210
31-dass30
31-dass40
31-dass50
31-dass60
31-dass70
31-dass80
31-dass90
31-dasstot0
31-depres0
31-rcq10t0
31-rcq11t0
31-rcq12t0
31-rcq1t0
31-rcq2t0
31-rcq3t0
31-rcq4t0
31-rcq5t0
31-rcq6t0
31-rcq7t0
31-rcq8t0
31-rcq9t0
31-rcqactt0
31-rcqcont0
31-rcqpret0
31-stress0
32-bereikt0
32-suicide10
32-suicide20
33-halluci0
33-toelicht0
34-mdoel
34-wanen0
35-justitie0
35-mhfddoelt0
36-eq10
36-eq20
36-eq30
36-eq40
36-eq50
36-eq60
36-maanvult0
36-mdenkent0
36-mdoodt0
36-mfamt0
36-mgezndht0
36-mlastt0
36-mminlvnt0
36-mpolitiet0
36-mprblmt0
36-mvinwrkt0
37-dh1t0
37-dh2t0
37-dh3t0
37-dh4t0
37-dh5t0
37-eqth0
37-re1t0
37-re2t0
37-tr1t0
37-tr2t0
37-tr3t0
37-tr4t0
37-tr5t0
37-tr6t0
37-tr7t0
37-tr8t0
38-basaal0
38-beperking0
38-mateicn10
38-mateicn100
38-mateicn110
38-mateicn120
38-mateicn130
38-mateicn140
38-mateicn150
38-mateicn160
38-mateicn170
38-mateicn180
38-mateicn190
38-mateicn20
38-mateicn30
38-mateicn40
38-mateicn50
38-mateicn60
38-mateicn70
38-mateicn80
38-mateicn90
38-mopmerkt0
38-relation0
39-doel
4-cultherk0
4-opleidng
4-opleidngt0
40-hfddoel0
41-benniet0
41-mailadres0
41-smsnr0
41-telnr0
42-vragen10
42-vragen20
42-vragen30
42-vragen40
43-toelich0
5-burstaat0
5-dagb
5-dagbt0
6-dagritme
6-dagritmet0
6-kind0
6-kindn0
6-kindthuis0
7-aanleid
7-aanleidt0
7-verhaal
7-verhaalt0
7-woonsit0
8-hoeinfo
8-hoeinfot0
8-opleidng0
9-inkomst0